body{
background-color: lightgray;
font-family: Arial;
margin: 40px;
}

h1{
color: black;
text-align: center;
}

h2{
color: rgb(9, 109, 148);
}

p{
color: black;
font-size: 18px;
}

ul{
color: black;
font-size: 18px;
}
